@import url('https://fonts.googleapis.com/css2?family=SourceSerif4&family=Dosis&display=swap');
/* styles/rafting.css */

:root {
    --primary-color: #8B008B;
    --secondary-color: #000080;
    --text-color: #343a40;
    --background-color: #fff;
    --theme-color: steelblue;
}

/*Other settings*/
h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

body {
    font-family: var(--paragraph-font);
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 960px;
    margin: auto;
}

p {
    padding: 1px;
    font-size: 16px;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

a.sociallink {
    text-decoration: none; /*removes underlines*/
    color: var(--secondary-color);
}

/*header*/
.box_parent{
display: grid;
grid-template-columns: auto;
justify-content: space-around;
}

.grid_header{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-between;
    border-bottom: 1.5px solid #000; 
    background-color: var(--theme-color);
}
.box_nav {
    display: flex;
    justify-content: center; /*Centers the button*/
    align-items: center;
    flex-direction: row;
    color: #333;
}

.box_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgb(0, 0, 0, 0.2);
    background-color: #eee;
    padding: 15px;
}
header {
    background-color: var(--accent1-color);
    padding: 2.5%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

/* body*/
.hero {
    position: relative;
    background-image: url("bg.webp");
    background-size: cover;
    background-position: center; 
}

.hero h1, .hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    background-color: #D3D3D3;
}

.hero img {       
    display: block;
    width: 100%;
    height: auto; 
}

.hero article img {
    float: right;
    margin-left: 1em;
}

.box_button1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1.5px solid rgb(0, 0, 0, 0.2);
    background-color: #eee;
}

.box_main{
    display: flex;
    order: 1;
    flex-wrap: wrap;
}

.box_img{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1.5px solid rgb(0, 0, 0, 0.2);
}

/*footer*/
.box_footer{
    display: flex;
    grid-template-columns: 1fr 5fr;
    justify-content: space-around;
    align-items: center;
    border-top: 1.5px solid #000ff0; 
    background-color: var(--theme-color);
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 125px;
	height: auto;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

h1 {
    display: grid;
    grid-column-start: 1;
    align-self: center;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.grid_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;   
}

.flex_section{
   display: flex;
    flex-direction: column;
   align-content: center;
   max-width: 200px;
   justify-content: space-evenly;
}

article{ display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    justify-content: center;
        
}

form {
    padding: 50px;
    margin: 0 auto;
    max-width: 75%;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

    
input[type="text"], textarea, input[type="email"]  {
    width: 100%;
    padding: 10px; 
    border: 1px solid #f0f0f0;
}

fieldset {
    border: 1px solid #f0f0f0;
    margin-bottom: 5px;
    padding: 10px;
}

legend {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="radio"] {
    margin-right: 10px;
}

label[for="subscribe"] {
    display: block; /* Checkbox and message aligns */
    margin-bottom: 5px;
}

button {
    background-color: #007bf0;
    color: #fff;
    border: none;
    padding: 10px 15px;  
    margin:20px; 
    font-size: larger;  
}
.adv_button {
    background-color: #007bf0;
    color: #fff;
    border: none;
    padding: 15px 25px;  
    margin:20px; 
    font-size: larger;  
}

.img_emp {
    display: grid;
    align-items: center;
    float:right;
    margin-right: 15px;     
}

.grid_container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
}

.trips-1, .trips-3 {
  display: grid;
  padding-right: 25px; 
}

.trips-2,.trips-4 {
  display: grid;
  padding-left: 25px; 
}

.trip_button {
  background-color: #eee;
  color: #fff;
  border: none;
  padding: 10px 10px;   
  float: right;
}
header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}
.grid {
    display: grid;
    align-items: center;
}
aside {
    width: 30rem;
    border: 10px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}