/* Reset default styles */
* {
    margin: 100;
    padding: 100;
    box-sizing: border-box;
}
.grid_header{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: space-between;
    border-bottom: 1.5px solid #000; 
    background-color: var(--theme-color);
}
.box_nav {
    display: flex;
    justify-content: center; /*Centers the button*/
    align-items: center;
    flex-direction: row;
    color: #333;
}

.box_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid rgb(0, 0, 0, 0.2);
    background-color: #eee;
    padding: 15px;
}

nav {
	text-align: center;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

nav {

    background-color: rgb(202, 122, 16);
    padding: 10;
}

nav a{
  color: rgb(252, 250, 250);
  display: inline-block;
  padding: 0.5rem;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #b9d638;
}

/* Form container */
form {
    max-width: 800px;
    margin: 10 auto;
    background-color: #d3d3c4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Label styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input, textarea, and select styles */
input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #faf8f8;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Custom select arrow */
select {
    appearance: none;
    -webkit-appearance: none;
    padding-right: 30px;
    background: url("dropdown-arrow.png") no-repeat right center;
    background-size: 20px;
}

/* Submit button styles */
button[type="submit"] {
    background-color: #24f024;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #0568d3;
}