/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    background-color: rgb(225, 226, 165);
    padding: 0;
  }
  nav a{
    color: rgb(252, 250, 250);
    display: inline-block;
    padding: 0.5rem;
  }
  h1 {
    color: rgb(118, 70, 180);
  }
  img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 25px gray;
  } 
  p {
    padding: 10px;
  }
  main {
    max-width: 840px;
  }

  aside {
  
    width: 20rem;
    border: 10px solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  aside h2 {
    width: 200;
    height: auto;
    position: relative;
 }
  aside img{
    width: 250px;
    height: auto;
  }
 main img{
    width: 200px;
    height: auto;
    border: 5px solid steelblue;
    padding: 5px;
    margin-top: 15px;
    box-shadow: 0 0 1000px grey;
    float: right;
  }
  p{padding: 0;}

   /* Class Selectors */
  
   .box {
    margin: 1rem;
    border: 4px solid rgba(252, 11, 11, 0.1);
    padding: 1rem;
    background-color: #b2f348;
    color: #f0c60e;
  }
  
  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  
   
  }
  